body {
  font-family: 'Inter', sans-serif;
  background: #f8f8f8;
  max-width: 100vw;
  margin-top:3.5em;
  margin:0;
}
.container{
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 0;
  z-index:-1;
}
a{
    text-decoration: none;
    color: #fff;
}
a:visited{

    text-decoration:none;
    color: #fff;
}

.report-header {
  margin-bottom:4.5em;
}

.intro p{
  font-size:1.4rem;
}

h1 {
  margin: 0;
  font-size: 2.4rem;
  color:#126609;
  font-weight:700;
  text-align: center;
}

p {
  margin: 10px 0;
  color: #424242;
  font-size:1.2rem;
}

.section {
  margin-bottom:60px;
}

.product-tab{
  padding:12px;
  border:#828282 solid 2px;
  border-radius:8px;
  width: 100%;
}

input#recommendedDimensions {
  width: 100%;
  padding: 12px;
  border: 2px solid #828282 ;
  border-radius: 8px;
  font-size: 1.2rem;
}

h2{
  font-weight:600;
  font-size:1.8rem;
}

.results-grid {
  display: flex;
  gap: 4em;
}

.results-grid div p {
  margin: 5px 0 0;
  font-weight: 500;
  font-size: 1.2rem;
  color: #535353;
}

.results-grid div span{
  font-weight: 700;
  font-size: 1.4rem;
  color: #535353;
}

.results-grid-text{
  text-align: center;
}

.results-grid div div.results-grid-icon-1{
  height:120px;
  width:150px;
  display: block;
  margin:1em auto;
  border-radius:5px;
  background-color:#7EEC68;

}

.results-grid div div.results-grid-icon-2{
  height:120px;
  width:150px;
  display: block;
  margin:1em auto;
  border-radius:5px;
  background-color:#39AE22;
}
.boxes{
  background-image: url(images/boxes.png);
  background-repeat: no-repeat;
  background-size:75%;
  background-position:center;
}
.fill{
  background-image: url(images/fill.png);
  background-repeat: no-repeat;
  background-size:60%;
  background-position:center;
}
.savings{
  background-image: url(images/savings.png);
  background-repeat: no-repeat;
  background-size:60%;
  background-position:center;
}
.air{
  background-image: url(images/air.png);
  background-repeat: no-repeat;
  background-size:60%;
  background-position:center;
}


.button-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top:4.5em;
}

.button-row button {
  width:fit-content;
  font-size: 1.4rem;
  border-radius:5px;
  font-weight:500;
  border: none;
  cursor: pointer;
}

#downloadBtn {
  background: #007B75;
  color: #fff;
  box-shadow: 0px 3.999px 5.331px 0px rgba(0, 0, 0, 0.21);
  padding: 12px 44px;
}

#simulateBtn {
  background: #007B75;
  color: #fff;
  box-shadow: 0px 3.999px 5.331px 0px rgba(0, 0, 0, 0.21);
  padding: 12px 57px;
}

div.plants{
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 100%;
  height:0;
  z-index:-1;
}

.plant-wrapper{
  width:390px;
  height: 390px;
  overflow: hidden;
  position: relative;
  z-index:1;
  margin:0;
  padding:0;
  width:100%;
  bottom:330px;
}


.plant-right,.plant-left{
  width:490px;
  height: 490px;
  aspect-ratio:1/1;
  background-image: url(images/plant.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index:1;        /* ensure they are behind */
  pointer-events: none;
  bottom:-100px;
}

.plant-left {
  left: -250px;
  z-index: -1;     /* move slightly outside to the left */
}

.plant-right {
  right: -250px;
  z-index:-1;       /* move slightly outside to the right */
}

@media (max-width:1000px) {
  .plant-wrapper {
    bottom: 200px; /* adjust upward shift */
    height: 250px;
  }

  .plant-left,
  .plant-right {
    width: 280px;
    height: 280px;
    bottom: -50px;
  }

  .plant-left {
    left: -100px;
  }

  .plant-right {
    right: -100px;
  }
}

@media (max-width:800px) {
  .plant-right,.plant-left {
    width:0;
    height:0; /* hide plants entirely on small phones */
  }

  .results-grid{
    flex-wrap: wrap;
  }
}
